*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;


}


body{
    background-color: rgba(255, 255, 255, 1);
}

/* common propert value  */
.container{
    max-width: 1057px;
    margin: 0 auto;
}

/* nav section css  */
nav{
    
    padding: 34px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container img{
    width: 139px;
    height: 60px;
}

.container ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

.container ul a{
    text-decoration: none;
}

/* button css  */
.btn{
    background-color: #43867f;
    padding: 12px 16px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    
    
}
.btn:hover{
    background-color: fuchsia;
}