* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;


}


body {
    background-color: rgba(255, 255, 255, 1);
}

/* common propert value  */
.container {
    max-width: 1057px;
    margin: 0 auto;
}

/* nav section css  */
nav {

    padding: 34px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .nav-image {
    width: 139px;
    height: 60px;
}

.container .nav-ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.container .nav-ul a {
    text-decoration: none;
}

/* navbar button css  */
.btn {
    background-color: #43867f;
    padding: 12px 16px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;


}

.btn:hover {
    background-color: fuchsia;
}

/* banner section css  */
#banner-section {
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    min-height: 100vh;
    text-align: center;
}

.banner-btn-1 {
    margin-top: 123px;
    padding: 8px 12px;
    border-radius: 50px;
    color: #43867f;
    border: none;
    margin-bottom: 24px;
    cursor: pointer;
}

.banner-btn-1 img {
    width: 10px;

}

#banner-section h2 {
    color: white;
    font-size: 72px;
    font-weight: 700px;
}

#banner-section .h2 {
    color: rgba(48, 184, 104, 1);
    font-size: 72px;
    font-weight: 700px;
    margin-bottom: 16px;
}

#banner-section p {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.banner-btn-2 {
    background-color: rgba(48, 184, 104, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
    color: white;
    padding: 16px 46px;
    border: none;
    border-radius: 6px;
    margin-right: 48px;
    cursor: pointer;
}

.banner-btn-3 {
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
    color: white;
    padding: 16px 46px;
    border: none;
    border-radius: 6px;
    margin-right: 48px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 1);
}

/* dont fail section css  */
.dontfail {
    /* background-color: fuchsia; */
    text-align: center;
    padding-top: 90px;
}

.dontfail-heading {
    margin-bottom: 44px;
}

.dontfail-heading h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 36px;

}

.dontfail-heading p {
    color: rgba(98, 115, 130, 1);
}

/* card css  */
.dontfail,
#second-brain {
    margin-bottom: 120px;
}

.card-parent {
    display: flex;
    gap: 24px;
}

.card {
    /* border: 1px solid fuchsia; */
    padding: 24px;
    border-radius: 6px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
}

.card img {
    height: 32px;
    width: 32px;
    background-color: rgba(249, 85, 85, 1);
    padding: 4px;
    border-radius: 50px;
}

.card h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.card p {
    font-weight: 400;
    line-height: 20px;
    color: rgba(98, 115, 130, 1);
}

.second-brain-parent {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

/* second brain section   */
.second-brain-image .sb-image {
    width: 600px;
    height: 600px;
}

.second-brain-content {
    padding: 102px 0;
}

.second-brain-content .TS {
    font-size: 16px;
    font-weight: 500;
    color: rgba(70, 145, 101, 1);
    margin-bottom: 16px;
}

.second-brain-content h2 {
    font-size: 40px;
    font-weight: 700;
    color: rgba(0, 25, 49, 1);
    margin-bottom: 16px;
}

.second-brain-content p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
    margin-bottom: 40px;
    line-height: 20px;
}

.sb-ul {
    list-style: none;

}

.sb-ul li {
    margin-bottom: 16px;
}

.sb-ul img {
    width: 15px;
    margin-right: 4px;
}

.sb-ul a {
    text-decoration: none;
    color: rgba(0, 25, 49, 1);
    font-size: 14px;


}